* {
    font-family: Montserrat;
}

body {
    background-color: rgba(243, 233, 143, 0.817);
}
.header {
    text-align: center;
}
table {
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto;
    border-radius: .5rem;
    overflow: hidden;
}

th,
td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #000000;
    color: white;
}

tr:nth-child(even) {
    background-color: #d5d1d1;
}

tr:nth-child(odd) {
    background-color: #ffffff;
}

.scheduling {
    display: flex;
    flex-direction: column;
}

.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.input-group label {
    margin: 5px;
    flex: 1;
}

.input-group input[type='number'],
.input-group input[type='date'] {
    flex: 1;
    margin-right: 10px;
    padding: 10px;
    border-radius: 1rem;
    max-width: 50%;
}

button {
    max-width: 50%;
    align-self: flex-end;
    margin-right: 10px;
    padding: 10px;
    border-radius: 1rem;
}
