:root {
    --header-bg-color: #0000008b;
    --even-row-color: #d5d1d1;
    --odd-row-color: #e1e0e0;
    --work-highlight: #e6f7ff;
    --off-highlight: #ffedea;
}

* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    overscroll-behavior: none;

}

body {
    background: linear-gradient(to bottom right,  #feb47b, #100cff9b);
    margin: 0;
    min-width: 320px;
}
.nav{
     display: flex;
     justify-content: space-between;
     align-items: center;
}

.header {
    margin: 2rem;
    padding: 1rem 2rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 0.5rem 0.5rem;
    font-size: 30px;
}

#moreInfo{
    border: 3px solid grey;
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
    margin: 0 10rem;
    padding: 2rem;
    background-color: var(--header-bg-color);
    color: white;
    user-select: none;
}

#moreInfo:hover{
    transform: scale(1.1);
}

.container,
#tableWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
}

Button{
    text-align: center;
    background-color: var(--header-bg-color);
    color: white;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    margin: 20px auto;
    border: none;
    cursor: pointer;
    grid-area: 5/1/6/3;
    box-shadow: 0 0 10px 8px rgba(255, 255, 255, 0.181);
}

Button:hover{
    transform: scale(1.1)
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.25rem;
    width: 40%;
    max-width: 500px;
    margin-top: 2rem;
}

input[type='number'],
input[type='date'] {
    border: 2px solid black;
    border-radius: 0.5rem;
    padding: 0.5rem;
    background-color: white;
    min-width: 80px;
    box-shadow: 0 0 10px 8px rgba(255, 255, 255, 0.181);

}


table {
    width: 70%;
    border-collapse: collapse;
    border-radius: 1rem;
    box-shadow: 0 0 10px 8px rgba(255, 255, 255, 0.181);
}

th {
    border: transparent;
    text-align: center;
    background-color: var(--header-bg-color);
    color: white;
    border: 1px solid var(--header-bg-color);
    padding: 1rem;
    margin: 1rem auto;

}

tr:nth-child(even) {
    background-color: var(--even-row-color);
    height: 3rem;
    text-align: center;
}

tr:nth-child(odd) {
    background-color: var(--odd-row-color);
    height: 3rem;
    text-align: center;

}

@media (max-width: 500px) {
    form {
        width: 80%;
    }

    table {
        width: 90%;
    }
}

footer {
    text-align: center;
    color: white;
    margin-top: 20px;
}
