:root {
    --primary-color: rgba(36, 127, 255, 0.861);
    --header-bg-color: #0000008b;
    --even-row-color: #d5d1d1;
    --odd-row-color: #e1e0e0;
    --work-highlight: #e6f7ff;
    --off-highlight: #ffedea;
}

* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: var(--primary-color);
    margin: 0;
    min-width: 320px;
}

.header {
    margin: 0;
    padding: 1rem 2rem;
    background-color: var(--header-bg-color);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 0.5rem 0.5rem;
}

.header {
    font-size: 22px;
}

.container,
.toggle-container,
#tableWrapper,
.calendar-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
}

#generateButton,
th,
#calendarView h3 {
    text-align: center;
    background-color: var(--header-bg-color);
    color: white;
    padding: 10px;
    border-radius: 0.5rem;
    margin: 20px auto;
}


form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.25rem;
    width: 40%;
    max-width: 500px;
}

input[type='number'],
input[type='date'] {
    border: 2px solid black;
    border-radius: 0.5rem;
    padding: 0.5rem;
    background-color: white;
    min-width: 80px;
}

#generateButton {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    grid-area: 5/1/6/3;
}

table {
    width: 70%;
    border-collapse: collapse;
    border-radius: 0.5rem;
}

tr:nth-child(even) {
    background-color: var(--even-row-color);
}

tr:nth-child(odd) {
    background-color: var(--odd-row-color);
}

/* Calendar Styles */
#calendarView > div {
    display: grid;
    grid-template-columns: repeat(7, 1fr);

}

#calendarView span {
    display: inline-block;
    margin: 2px;
    padding: 5px;
    text-align: center;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

span:contains('Work') {
    background-color: var(--work-highlight);
}

span:contains('Off') {
    background-color: var(--off-highlight);
}

@media (max-width: 500px) {
    #calendarView > div,
    #calendarView span {
        font-size: 1em;
        padding: 10px;
    }
}

footer {
    text-align: center;
    color: white;
    margin-top: 20px;
}
