:root{
    --primary-color:rgb(148, 203, 225);
}
* {
    font-family: Montserrat;
}

body {
    background-color: var(--primary-color)
}

.header {
    text-align: center;
}

table {
    width: 80%;
    margin: 20px auto;
    border-radius: 0.5rem;
    overflow: hidden;
    border: none;
    /* Table view styles */
    display: table;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #000000;
    color: white;
}

tr:nth-child(even) {
    background-color: #d5d1d1;
}

tr:nth-child(odd) {
    background-color: #ffffff;
}

/* Calendar view styles */
.calendar-view {
    display: none;
}

#calendarView {
    font-family: Arial, sans-serif;
    margin-top: 20px;
}

#calendarView div {
    margin-bottom: 20px;
}

#calendarView h3 {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px;
    border-radius: 5px 5px 0 0;
}

#calendarView div > div {
    /* Style for each week row */
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    border: 1px solid #ccc;
    border-top: none; /* No top border to avoid double borders */
}

#calendarView span {
    border-top: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

/* Styles for the header containing day names (Sun, Mon, etc.) */
#calendarView div > div:first-child {
    background-color: #f4f4f4;
    font-weight: bold;
}

/* Highlight work days with a subtle background */
span:contains('Work') {
    background-color: #e6f7ff;
}

/* Highlight off days with a subtle background */
span:contains('Off') {
    background-color: #ffedea;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}

.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.input-group label {
    margin: 10px;
    flex: 0 1 30%;
    text-align: center;
}

.input-group input[type='number'],
.input-group input[type='date'] {
    flex: 1;
    width: 16rem;
    margin-right: 10px;
    padding: 10px;
    border-radius: 1rem;
}

#startHint {
    font-size: 12px;
    text-align: center;
    line-height: 0.2px;
    margin-bottom: 10px;
    display: none;
}

button {
    width: 16rem;
    margin-left: 9rem;
    margin-right: 10px;
    padding: 10px;
    border-radius: 1rem;
}
